@charset "UTF-8";
/*------- 랜딩 페이지 태블릿 버전 -------*/

/* ------- 헤더 ------- */
.hed.on {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  align-items: flex-start;
  padding: 19px 30px 0;
}

.menu {
  display: none;
}

.menu.on {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ico-open, .ico-close.on {
  display: flex;
}
.ico-close, .ico-open.on {
  display: none;
}

/* 셀렉트랑 ico-set 박스 */
header div:last-of-type {
  display: flex;
  align-items: center;
  height: 33px;
  gap: 30px;
}

select {
  margin: 0 0 0 93px;
}
/* ico 추가되면서 로고랑 너비 안 맞아서 기존(pc.ver)에 줬던 마진 수정함 */
/* ------- /헤더 ------- */