/* 영화상세페이지 pc, 태블릿 가로 1024- */

/* sec */
.sec {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.topBanner {
  width: 100%;
  height: 400px;
  background: url("#") no-repeat 50%/cover;
  /* 텍스트 감추기 */
  text-indent: -9000px;
  overflow: hidden;
}

/* inner */
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1024px;
  padding: 50px;
  gap: 70px;
}

.movieDetails {
  display: flex;
  padding-left: 320px;
  gap: 10px;
  position: relative;
}
.moviePoster {
  width: 240px;
  height: 360px;
  position: absolute;
  top: -100px;
  left: 0px;
  background: url("/portfolio/ghibli/img/totoro.png") no-repeat 50%/cover;
  /* 텍스트 감추기 */
  text-indent: -9000px;
  overflow: hidden;
  border-radius: 13.783px;
  border: 5px solid #FFF;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.50);
}

/* content */
.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content > h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 66px;
}
.content > .detailsText {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
  font-weight: 400;
  word-break: keep-all;
  /* 단어 단위로 줄바꿈 */
}
.detailsText div:last-child > div {
  display: flex;
  gap: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.detailsText div:last-child > div > span:first-child {
  width: 87px;
}

/* review */
.review {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.reviewInputBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reviewInputBox > h2 {
  display: flex;
  gap: 15px;
  color: #000;
  font-size: 22px;
  font-weight: 700;
}
.reviewInputBox > h2 > #reviewCount {
  color: #316A52;
}

/* review form */
#reviewForm {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid #7A7A7A;
  background: #FFF;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}
#reviewForm input {
  height: 50px;
  border-bottom: 1px solid #727272;
}
#reviewForm > div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#reviewForm > .charCount {
  font-size: 13px;
  color: #707070;
}
#reviewForm button:hover {
  background: #0F1F19;
}

/* 버튼 공통 선언 */
#reviewForm button, .btnBox > button {
  width: 60px;
  height: 40px;
  border-radius: 20px;
  background: #316A52;
  color: #FFF;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  cursor: pointer;
}

/* review box */
.reviewBoxSet {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#reviewBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 30px;
  border-bottom: 1px solid #7A7A7A;
}
.reviewText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
}
.reviewText > div:first-child {
  font-weight: 700;
}
.reviewText > div:last-child, .reviewText button {
  display: flex;
  color: #7A7A7A;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  gap: 20px;
}
#reviewBox .btnBox {
  display: flex;
  gap: 10px;
}
.btnBox button:first-child:hover {
  background: #0F1F19;
}
.btnBox > button:last-child {
  background: #626262;
}
.btnBox > button:last-child:hover {
  background: #373737;
}