@charset "UTF-8";
/*------- 프로필페이지 태블릿 버전 -------*/

body {
  min-width: 700px;
}
/* 최소값 */
/* ------- 헤더 ------- */
.hed.on {
  display: flex;
  align-items: flex-start;
  height: 100vh;
  padding: 19px 30px 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu.on {
  display: flex;
}

.ico-open, .ico-close.on {
  display: flex;
}
.ico-close, .ico-open.on {
  display: none;
}

/* 셀렉트랑 ico-set 박스 */
header div:last-of-type {
  display: flex;
  align-items: center;
  height: 33px;
  gap: 30px;
}

select {
  margin: 0 0 0 93px;
}
/* ico 추가되면서 로고랑 너비 안 맞아서 기존(pc.ver)에 줬던 마진 수정함 */
/* ------- /헤더 ------- */

/* ------- main ------- */
.sec-set {
  gap: 30px;
}
/* ------- sec01 ------- */
.sec01-inner {
  padding: 0 30px;
  width: 100%;
  gap: 20px;
}
/* 이미지 정보 box */
.sec01-inner div:last-child {
  gap: 20px;
}

/* ------- sec02 ------- */
.sec02 {
  padding: 50px 0;
}

.sec02-inner {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 0 30px;
  gap: 40px;
}

.sec02 h2, .sec03 h2 {
  font-size: 36px;
  font-weight: 700;
}

.profile-set {
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.member-profile {
  gap: 5px;
  flex: 1 1 20%;
}

.member-profile img {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.member-profile h3 {
  font-size: 1.5rem;
}

.member-profile h4 {
  font-size: 1rem;
  font-weight: 500;
}

/* ------- sec03 ------- */
.sec03-inner {
  flex-direction: column;
  padding: 0 30px;
  gap: 40px;
}

.awards {
  gap: 30px;
}

.awards h3 {
  font-size: 1.375rem;
  border-bottom: 2px solid #fff;
}

.awards-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
}

.awards-list > li {
  display: flex;
  align-items: center;
  width: 100%;
  /* 반응형 줄바꿈 주기 위해 변경 */
  gap: 20px;
}

li h3, li span {
  font-size: 1rem;
  font-weight: 700;
}

li p {
  width: 100%;
  font-size: .9375rem;
  font-weight: 300;
  word-break: keep-all;
  /* 단어 단위로 줄바꿈 */
}
/* ------- /main ------- */

/* ------- footer ------- */
footer {
  flex-direction: column;
  justify-content: flex-start;
  padding: 60px 30px 40px;
  gap: 20px;
  font-size: .875rem;
}

.info-box {
  gap: 10px;
  align-items: flex-start;
}

.info-box span:nth-child(1) {
  padding-right: 25px;
}

.info-box span:nth-child(2) {
  padding: 0 26px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.info-box span:nth-child(3) {
  padding-left: 25px;
}
/* ------- /footer ------- */