@charset "UTF-8";
/*------- 프로필페이지 모바일 버전 -------*/

body {
  min-width: 440px;
}
/* 최소값 */
/* ------- 헤더 ------- */
.hed {
  min-width: 440px;
}

/* ------- /헤더 ------- */
/* ------- main ------- */
.sec-set {
  gap: 20px;
}
/* ------- sec01 ------- */
.sec01-inner {
  gap: 10px;
}
.sec01-inner div:last-child {
  gap: 10px;
  font-size: 16px;
}


/* ------- sns fix ------- */
/* 좌측 사이드에  fixed 처리되어 있던 거 풀고 sec1 아래에 추가함 */
.sns-fix {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: static;
  width: 100%;
  padding: 0 30px;
  gap: 30px;
}

.sns-fix a {
  display: flex;
  width: 100%;
  flex: 1 1 18%;
}

.sns-fix img {
  width: 100%;
  height: auto;
}

.sns-fix a:hover img {
  transform: translateY(-5px);
  /* 호버시 위로 5px 이동하는 효과 */
  /* 모바일에선 호버가 안 되지만 애니메이션 연습으로 시도해 봄 */
}
/* ------- sec02 ------- */
.sec02 {
  padding: 20px 0;
}
.sec02-inner {
  gap: 20px;
}
.sec02 h2, .sec03 h2 {
  font-size: 28px;
}

.profile-set {
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
}

.member-profile {
  flex: 1 1 45%;
}

.member-profile h3 {
  font-size: 1.25rem;
}
/* ------- sec03 ------- */
.awards h3 {
  font-size: 1.25rem;
}

li h3, li span {
  align-self: flex-start;
}
li p {
  font-size: .8125rem;
  line-height: 1.5;
}