@charset "UTF-8";
/* 영화검색페이지 모바일 320-480 */

body {
  min-width: 320px;
}

/* 검색박스 */
.sec {
  padding-inline: 10px;
  gap: 40px;
}
.searchBox > div {
  height: 40px;
}
.searchBox > div > input {
  font-size: 13px;
}

/* 영화박스 */
#movieBoxSet {
  flex-wrap: wrap;
  gap: 10px;
  width: 284px;
}
.movieBox {
  width: 137px;
}
.movieBox > div {
  height: 200px;
  padding: 80px 10px 0;
}
.movieBox h2 {
  font-size: 14px;
}

/* 영화 상세정보 호버 */
.movieInfo {
  gap: 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
}
.movieInfo > div {
  height: auto;
}
.movieInfo > div > div {
  justify-content: space-between;
}
.movieInfo span {
  color: #D8D8D8;
  font-size: 10px;
  line-height: 15px;
}