@charset "UTF-8";
/* 영화상세페이지 모바일 320-480 */

/* sec */
.sec {
  min-width: 320px;
}
.topBanner {
  height: 200px;
}

/* inner */
.inner {
  padding: 20px 20px;
}

.movieDetails {
  padding: 120px 0 0 0;
  gap: 10px;
}
.moviePoster {
  width: 132px;
  height: 198px;
}

/* review box */
#reviewBox {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 30px;
}